:root {
  color-scheme: light dark;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #E5E5E5;
  }
}
